@font-face
{
  font-family: 'Roboto';
  src: url('fonts/Robot-BoldCondensed.ttf') format('truetype');
}

*
{
  background-color: #D6CDC0 ;
}

h1
{
  margin: 0 auto;
  color: #DBAE70;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}


ul
{
  
  list-style-type: none;
  display: flex;
  flex-direction: row;
  
  justify-content: space-around;
  vertical-align: middle;
  padding: ;
 
  border: 10px solid #333333;
  border-radius: 10px;
  background-color: #333333;
  width: 100%;
  height: 30px;
  color: white;
  overflow
  
  
}

;
nav: 
{
  background-color: #ACA89A ;
};


.photo = class
{
  width: 250px
}

div
{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

footer
{
  text-align: center;
  font-size: x-large;
}